<!DOCTYPE html> 
{% load static %}
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>After prediction</title> 
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet"  href="{% static 'style/style.css' %}"/>
</head> 
<body> 
    <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">SKIN DISEASE<span class="logo_colour"> PREDICTION</span></a></h1>
          <h2>Using ML</h2>
        </div>
      </div>
    </div>
    <div id="site_content">
      <div>
        <h6>After Prediction</h6>
        <p>Some skin conditions are minor, and others can be life-threatening. While most skin disorders are minor, others can indicate a more serious issue. Contact your doctor if you think you might have one of these common skin problems.</p>
       <div>
          {% for skin in skin_images %} 
            <div class="col-md-4"> 
                    <h1>{{ skin.name}}</h1> 
                     <img src="{{ skin.images.url}}" class="img-responsive" style="width: 300px; float: center; margin-right: 50px;" /> 
            </div> 
          {% endfor %} 
      </div>
      </div>
    </div>
  </div>
</body> 
</html> 